* {
  padding: 0px;
  margin: 0px;
  line-height: normal !important;
}

.shadow {
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "averia";
  src: url("./src/fonts/averia/averiagruesalibre-regular-webfont.woff2")
      format("woff2"),
    url("./src/fonts/averia/averiagruesalibre-regular-webfont.ttf")
      format("ttf"),
    url("./src/fonts/averia/averiagruesalibre-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bilbo";
  src: url("./src/fonts/Bilbo/bilbo-regular-webfont.woff2") format("woff2"),
    url("./src/fonts/Bilbo/bilbo-regular-webfont.ttf") format("ttf"),
    url("./src/fonts/Bilbo/bilbo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Velekom";
  src: url("velekom-webfont.woff2") format("woff2"),
    url("velekom-webfont.ttf") format("ttf"),
    url("velekom-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
}

.geral {
  padding: 0px 30px;
  width: 70%;
  min-width: 320px;
  max-width: 1024px;
}

.header-page {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  margin-top: 10px;
}

.header-page div:nth-child(1) {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-page div:nth-child(1) img {
  width: 60px;
  border-radius: 50px;
  padding: 2px;
  border: 1px solid #333;
}

.header-page div:nth-child(1) > div {
  display: flex;
  flex-direction: column;
  height: 60px;
  padding-left: 5px;
  justify-content: center;
}

.header-page div:nth-child(1) > div span:nth-child(1) {
  font-weight: bold;
  font-size: 17px;
}

.header-page div:nth-child(1) > div span:nth-child(2) {
  font-weight: normal;
  color: rgb(169, 169, 169);
}

.header-page div:nth-child(2) {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
}

.header-page div:nth-child(2) a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
  margin-left: 10px;
  transition: 0.15s;
  border-bottom: 3px solid #fff;
}

.header-page div:nth-child(2) a:hover {
  border-bottom: 3px solid #333;
}

.superior-box {
  height: 350px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.superior-box > div:nth-child(1) {
  height: 250px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.superior-box > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
}

.superior-box > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) {
  font-size: 25px;
  color: rgb(165, 160, 160);
  font-weight: normal;
}

.superior-box > div:nth-child(1) > div:nth-child(1) > p:nth-child(2) {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 2px;
}

.superior-box > div:nth-child(1) > div:nth-child(1) > p:nth-child(3) {
  font-weight: normal;
  color: rgb(104, 102, 102);
  letter-spacing: 2px;
}

.superior-box > div:nth-child(1) > div:nth-child(2) {
  width: 90%;
  margin-top: 10px;
}

.superior-box > div:nth-child(1) > div:nth-child(2) a i {
  font-size: 35px;
  margin-right: 5px;
  transition: 0.2s;
}

.superior-box > div:nth-child(1) > div:nth-child(2) a i:hover {
  transform: scale(1.15, 1.15);
}

.superior-box > div:nth-child(1) > div:nth-child(2) a {
  /* transition: 0.2s; */
  color: #333;
}

.superior-box > div:nth-child(1) > div:nth-child(2) a:nth-child(1):hover {
  color: #2867b2;
}

.superior-box > div:nth-child(1) > div:nth-child(2) a:nth-child(2):hover {
  color: #4267b2;
}

.superior-box > div:nth-child(1) > div:nth-child(2) a:nth-child(3):hover {
  color: #f77737;
}

.superior-box > div:nth-child(1) > div:nth-child(2) a:nth-child(4):hover {
  color: #1da1f2;
}

.superior-box > div:nth-child(1) > div:nth-child(3) {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 90%;
}

.superior-box > div:nth-child(1) > div:nth-child(3) a {
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  padding: 10px;
  border-radius: 25px;
  transition: 0.3s;
}

.superior-box > div:nth-child(1) > div:nth-child(3) a span {
  height: 50px;
  width: 100px;
  font-weight: bold;
}

.superior-box > div:nth-child(1) > div:nth-child(3) a:hover {
  background-color: #333;
  color: #fff;
}

.menuside {
  display: none;
  position: absolute;
  right: 10%;
  font-size: 10px;
  padding: 7px 8px;
  background-color: #333;
  border-radius: 20px;
  color: #fff;
  box-shadow: 1px 1px 2px rgb(169, 169, 169);
}

.dv-lottie {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 2000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-box.active .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-box-back > p {
  font-size: 18px;
  font-style: italic;
  color: #000;
}

/*  */

.sidenav li > a {
  justify-content: flex-start;
  align-items: center;
  display: flex !important;
}

.sidenav > li > a > i {
  margin: 0;
  margin-right: 9px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #333 !important;
  font-size: 20px;
}

.sidenav {
  width: 250px !important;
}

.drag-target {
  width: 25px !important;
  left: 0;
}

.card {
  transition: 0.3s !important;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03, 1.03);
  border-radius: 5px !important;
}

.dv-cards {
  width: 100%;
  padding-top: 10px;
}

.dv-cards .dv-options-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dv-cards .dv-options-card > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
  width: 300px;
  height: 30px;
}

.dv-cards .dv-options-card > div a {
  color: #333;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 2px solid #fff;
  transition: 0.1s;
}

.dv-cards .dv-options-card > div a:hover {
  border-bottom: 2px solid #333;
}

.dv-cards .dv-options-card > div a.active {
  background-color: #333;
  color: #fff;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 15px;
  border: none;
  padding-bottom: 3px;
}

.dv-cards > .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.dv-cards > .row .card {
  width: 250px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.dv-cards > .row .card .card-image {
  height: 200px;
}

.dv-cards > .row .card .card-image img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  object-fit: cover;
  height: 200px;
}

.dv-cards > .row .card .card-content {
  padding: 10px 15px;
  margin-top: 5px;
}

.dv-cards > .row .card .card-content > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.dv-cards > .row .card .card-content > p {
  color: #333;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 2px;
}

.dv-cards > .row .card .card-content > div p {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.dv-cards > .row .card .card-content > div p:nth-child(1) {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.material-placeholder {
  padding: 0 !important;
}

.ph-item {
  padding: 0 !important;
  display: flex !important;
  flex-direction: column;
}
.ph-item > * {
  padding: 0 !important;
}
.ph-picture {
  height: 160px !important;
}
.ph-row {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px !important;
}

.dv-footer {
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  margin-right: 20px;
}

.dv-footer div:nth-child(1) {
  font-size: 12px;
  text-align: right;
  height: 68px;
  font-weight: bold;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.dv-footer div:nth-child(1) a {
  color: rgba(0, 0, 0, 0.3);
}

.dv-footer div:nth-child(2) img {
  width: 60px;
  opacity: 0.5;
}

.dv-footer-last {
  display: none;
}

.dv-footer-last p {
  text-align: center;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
  font-weight: bold;
}

.li-dark > a {
  display: flex;
  flex-direction: row;
}

.lottie-player {
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 425px) {
  .dv-cards {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  .dv-footer {
    justify-content: center;
  }
  .dv-footer-last {
    display: block;
  }
}

@media only screen and (max-width: 880px) {
  .menuside {
    display: flex;
  }
  .superior-box {
    display: block;
    height: auto;
  }
  .superior-box > div:nth-child(1),
  .geral {
    width: 100%;
    padding: 0;
  }
  .superior-box > div:nth-child(1) > div:nth-child(1) {
    align-items: center;
  }
  .superior-box > div:nth-child(1) > div:nth-child(2),
  .superior-box > div:nth-child(1) > div:nth-child(3) {
    display: flex;
    justify-content: center;
  }
  .header-page div:nth-child(2) {
    display: none;
  }
  .header-page {
    justify-content: center;
    padding: 0;
  }
  .dv-lottie {
    width: 100%;
  }
}

@media only screen and (max-width: 319px) {
  .menuside {
    display: none;
  }
}
